<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/createBooking.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/editBooking.css" />
</head>
<body>
<div class="container-fluid main">
    <%- include('header', {userName: userName}); -%>
    <!--<div class="row justify-content-center">-->
    <!--<div class="col-sm-12 col-md-8 ">-->
    <div class="container">
        <div class="item">
            <h2>Забронювати аудиторію</h2>
            <form class="createBookingForm" action="/main/createPage/create" method="post">
                Назва: <input type="text" name="name" autocomplete="fal">
                Дата: <input type="date" name="date" autocomplete="fal">
                <!--Аудиторія: <input type="text" name="room" autocomplete="fal">-->
                <select name="room" id="">
                    <% rooms.forEach(function(item) { %>
                        <option value="<%= item.name %>"><%= item.name %></option>
                    <% }); %>
                </select>
                № пари: <input type="text" name="lesson" autocomplete="fal">
                Викладач: <input type="text" name="teacher" autocomplete="fal">
                <button type="submit">Створити</button>
                <button class="go_back">Назад</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $('.go_back').on('click', function(){
        window.history.back();
    });

</script>
</body>
</html>