<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editBooking.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/createBooking.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/findRoom.css"/>
</head>
<body>
<div class="container-fluid main">
    <%- include('header', {user: user}); -%>
    <div class="container form-container">
        <h2>Знайти аудиторію</h2>
        <form class="findRoomForm" action="/main/findRoom/find" method="post">
            Мінімальна кількість місць: <input type="text" name="R.Accommodation" autocomplete="fal">
            Мінімальна кількість комп'ютерів: <input type="text" name="R.NumberOfComputers" autocomplete="fal">
            Навчальний корпус:
            <select name="buildings.Id" class="select-css">
                <option value="" selected disabled hidden>Оберіть корпус</option>
                <% buildingsArray.forEach(function(item) { %>
                    <option value="<%= item.id %>"><%= item.name %></option>
                <% }); %>
            </select>
            <label class="label-container">Наявність проектора
                <input type="checkbox" name="HasProjector">
                <span class="checkmark"></span>
            </label>
            <button type="submit">Знайти</button>
        </form>
    </div>
</div>
</body>
</html>