<div class="header row">
    <div class="navigtion-wraper">
        <ul class="main-navigation ">
            <li><a href="/main/mybooking">Мої бронювання</a></li>
            <li><a href="/main/createPage">Забронювати аудиторію</a></li>
            <li><a href="/main/rooms">Аудиторії</a></li>
            <li><a href="/main/logout">Вийти</a></li>
            <li class="user">Вітаю, <%= userName %> </li>
        </ul>
    </div>
</div>