<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navigtion-wraper navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav main-navigation">
                <li><a href="/main/mybooking">Мої бронювання</a></li>
                <li><a href="/main/createPage">Забронювати аудиторію</a></li>
                <li><a href="/main/rooms">Аудиторії</a></li>
                <li><a href="/main/findRoom">Знайти аудиторію</a></li>
                <% if (user.isSuperUser === 1) { %>
                    <li><a href="/main/addRoom">Додати аудиторію</a></li>
                <% } %>
                <li><a href="/main/logout">Вийти</a></li>
                <li class="user">Вітаю, <%= user.userName %> </li>
            </ul>
        </div>
    </div>
</nav>