@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    box-sizing: border-box; }

.main {
    /*height: 100vh;*/
    font-family: Roboto Slab;
    background-image: linear-gradient(to left bottom, #fcffe1, #bbddc2, #79bab2, #4094a7, #2a6b96);
}

.navbar{
    margin: 0 -15px;
    color: #000;
    background-color: #E6F4F1;
    box-shadow: 0 0 10px 1px #3F4756;
    border: none;
    border-radius: 0;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 9;
    display: flex;
    flex-direction: column;
}


.navigtion-wraper {
    width: 100%;
}

.main-navigation {
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
}

.navbar-inverse .navbar-toggle{
    border-color: #3F4756;
}
.navbar-inverse .navbar-toggle:hover{
    background-color: #06558a;
}

.navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #3F4756;
}

.navbar-inverse .navbar-collapse{
    border: none
}

.main-navigation li {
    width: 100%;
    max-width: 170px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user{
    margin-top: 5px !important;
}
.main-navigation li a {
    text-decoration: none;
    color: #3F4756 !important;
    padding: 10px 0;
    display: block;
}
.main-navigation li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px;
    transition: width .4s;
    background-color: #06558a;
}
.main-navigation li a:hover::after {
    width: 100%;
}

.main-content {
    min-height: 100vh;
    margin-top: 100px;
}

.notifications {
    height: auto;
    overflow-y: auto;
}

.notifications-title {
    color: #2D3543;
    font-size: 30px;
    padding: 0 0 10px 20px;
    text-align: left;
}
.notifications-list {
    display: grid;
    grid-template-columns: repeat(7, 13%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.notification-row{
    text-align: left;
}
.day-title{
    margin-bottom: 10px;
}
.notifications-container{
    padding: 0 30px;
    text-align: center;
}
.item_notification {
    height: auto;
    color: #3F4756;
    transition: 0.2s;
    margin-bottom: 15px;
    min-height: 180px;
    width: 100%;
}
.item_notification div{
    background-color: #e5fbf6;
    padding: 10px 15px;
}

.item_notification p {
    font-size: 13px;
    margin-bottom: 5px;
}
.item_notification span {
    font-size: 14px;
    font-weight: 700;
}

.empty-list {
    font-size: 20px;
}

@media (max-width: 810px) {
    .notifications-list{
        grid-template-columns: repeat(3, 33%);
    }
}

@media (max-width: 768px) {
    .main-navigation {
        display: block;
    }
    .main-navigation li {
        font-size: 15PX;
        margin: 0 auto;
        max-width: none;
    }
    .main-navigation li:last-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    

}

@media (max-width: 510px) {
    .main-navigation a{
        font-size: 15px;
    }
}
@media screen and (min-width: 1024px) {
    .main-navigation {
        /*max-width: 1024px;*/
        margin: 0 auto;
    }
}

