.main-navigation li:nth-child(3) a:after{
  content: '';
  display: block;
  width: auto;
  height: 2px;
  margin-top: 5px;
  background-color: #06558a;
}
.main-navigation li:first-of-type a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 5px;
  background-color: #06558a;
}
.main-navigation li:first-of-type a:hover::after {
  width: 100%;
}

.rooms_title {
  height: 50px;
  margin-top: 100px;
  margin-left: 45px;
}
.rooms_title > h2 {
  font-size: 30px;
  margin: 0;

}
.main{
  min-height: 100vh;
}
.rooms-container {
  padding: 20px;
  margin: 0 auto;
  min-width: 300px;
}

.item {
  color: #3F4756;
}
.item .shedule_links {
  margin-top: 20px;
}
.shedule_links a{
  padding: 0;
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
  font-weight: 700;
  color: #06558a;
}
.item p {
  font-size: 18px;
  margin: 0;
}
.item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #06558a;
}
.item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .4s;
  background-color: #06558a;
}
.item a:hover::after {
  width: 100%;
}

